<template>
  <div id="photostock-thumbnail-group">
    <div class="photostock-thumbnail-group-wrapper d-flex">
      <div style="width:60%;overflow:hidden;">
        <img :src="imgs[0]" class="full-cover-img">
      </div>
      <div style="width:40%">
        <div style="height:50%" class="d-flex">
          <div style="width:50%;overflow:hidden;">
            <img :src="imgs[1]" class="full-cover-img">
          </div>
          <div style="width:50%;overflow:hidden;">
            <img :src="imgs[2]" class="full-cover-img">
          </div>
        </div>
        <div style="height:50%" class="d-flex">
          <div style="width:50%;overflow:hidden;">
            <img :src="imgs[3]" class="full-cover-img">
          </div>
          <div class="last-img" style="width:50%;overflow:hidden;">
            <img :src="imgs[4]" class="full-cover-img">
          </div>
        </div>
      </div>
    </div>
    <div class="photostock-thumbnail-group-title">{{title}}</div>
  </div>
</template>

<script>
export default {
  name: 'PhotostockThumbnailGroup',
  props: [
    'title',
    'imgs'
  ]
}
</script>

<style lang="scss" scoped>
.photostock-thumbnail-group-wrapper {
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #888;
}
.photostock-thumbnail-group-title {
  color: #888;
  font-size: 20px;
  font-weight: 500;
}
#photostock-thumbnail-group {
    margin-bottom: 55px;
}
img {
  transition: transform .5s ease;
  cursor: pointer;
}
img:hover {
  transform: scale(1.5);
}
.last-img:after {
  content: '';
  width: 100%;
  height: 100%;
}
</style>