<template>
  <div class="inspire-hub-card-filter">
    <div class="inspire-hub-card-filter-list container d-flex flex-content-between">
      <div @click="filterField = ''" class="inspire-hub-card-filter-select clickable" :class="{ selected: filterField == '' }">
        ทั้งหมด
      </div>
      <div v-for="(filter, index) in filterList" :key="index" @click="filterField = filter"
        class="inspire-hub-card-filter-select clickable" :class="{ selected: filterField == filter }"
      >
        {{filter}}
      </div>
    </div>
    <br>
    <br>
    <div class="container d-flex-wrap flex-content-center">
      <template v-for="(mediaContent, mediaContentIndex) in mediaContentList">
        <landscape-card
          v-if="( filterField == '' || filterField == mediaContent.mediaType ) && mediaContent.cardType == 'landscape'"
          :key="mediaContentIndex"
          :hashtag="mediaContent.cardContent.hashtag"
          :hashtagColor="mediaContent.cardContent.hashtagColor"
          :title="mediaContent.cardContent.title"
          :img="mediaContent.cardContent.img"
          :description="mediaContent.cardContent.description"
          :date="mediaContent.cardContent.date"
          style="margin-bottom:3rem;"
        />
        <content-card 
          v-else-if="filterField == '' || filterField == mediaContent.mediaType"
          :key="mediaContentIndex"
          :hashtag="mediaContent.cardContent.hashtag"
          :hashtagColor="mediaContent.cardContent.hashtagColor"
          :title="mediaContent.cardContent.title"
          :img="mediaContent.cardContent.img"
          :description="mediaContent.cardContent.description"
          :date="mediaContent.cardContent.date"
          style="width:calc(50% - 30px);margin-bottom:3rem;"
        />
      </template>
    </div>
  </div>
</template>

<script>
import ContentCard from '@/components/ContentCard.vue'
import LandscapeCard from '@/components/LandscapeCard.vue'

export default {
  props: ['filterList','mediaContentList'],
  components: {
    'content-card': ContentCard,
    'landscape-card': LandscapeCard
  },
  data() {
    return {
      filterField: '',
    };
  }
}
</script>

<style lang="scss" scoped>
.inspire-hub-card-filter-list {
  border-bottom: 1px solid #c2272d;
}
.inspire-hub-card-filter-select {
  padding-bottom: 10px;
  font-weight: 300;
  color: #717274;
}
.inspire-hub-card-filter-select.selected{
  font-weight: 400;
  color: #c2272d;
  border-bottom: 10px solid #c2272d;
}
</style>