.d-flex {
  display: flex;
}
.d-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.d-flex-column {
  display: flex;
  flex-direction: column;
}
.flex-content-start {
  justify-content: flex-start;
}
.flex-content-end {
  justify-content: flex-end;
}
.flex-content-center {
  justify-content: center;
}
.flex-content-between {
  justify-content: space-between;
}
.flex-content-around {
  justify-content: space-around;
}
.flex-content-evenly {
  justify-content: space-evenly;
}
.flex-grow-1 {
  flex-grow: 1;
}
.flex-grow-2 {
  flex-grow: 2;
}
.flex-grow-3 {
  flex-grow: 3;
}
.flex-grow-4 {
  flex-grow: 4;
}
.flex-grow-5 {
  flex-grow: 5;
}
.flex-grow-6 {
  flex-grow: 6;
}
.flex-grow-7 {
  flex-grow: 7;
}
.flex-grow-8 {
  flex-grow: 8;
}
.flex-grow-9 {
  flex-grow: 9;
}
.flex-grow-10 {
  flex-grow: 10;
}
.flex-grow-11 {
  flex-grow: 11;
}
