@import url('https://fonts.googleapis.com/css?family=Kanit:300,400,500,600&display=swap&subset=thai');
@import 'flex.scss';
@import 'text.scss';

html {
  font-family: 'Kanit', sans-serif;
}

.fluid-width-img {
  width: 100%;
  height: auto;
}

.fluid-height-img {
  width: auto;
  height: 100%;
}

.full-cover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button.VueCarousel-dot {
  outline: none!important;
  margin: 0!important;
}

.clickable {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.big-container {
  max-width: 987px;
  margin-left: auto;
  margin-right: auto;
}