<template>
  <div class="app-header">
    <div class="app-header-items d-flex flex-content-between">
      <div class="app-header-item">
        <router-link :to="{ name:'home' }" >
          <div class="app-logo">
            <img :src="applogo" class="fluid-height-img">
          </div>
         </router-link>
      </div>
      <div v-for="menu in menuList" :key="`menu_${menu.name}`" class="app-header-item">
        <router-link v-if="menu.link" :to="{ name:menu.link }" style="color: #fff;text-decoration: none!important;">
          <div class="app-menu" :class="{ 'has-sub-menu': menu.subMenuList }">
            {{menu.name}}
          </div>
        </router-link>
        <div v-else @click="openSubMenu(menu)" class="app-menu" :class="{ open: menu.isSubMenuOpen, 'has-sub-menu': menu.subMenuList }">
          {{menu.name}}
        </div>
        <div v-if="menu.subMenuList && menu.isSubMenuOpen && !menu.link" class="app-sub-menu d-flex">
          <div v-for="(subMenuColumn, subMenuListIndex) in menu.subMenuList" :key="`submenu-${subMenuListIndex}`" :class="(subMenuListIndex < menu.subMenuList.length - 1)?'submenu-list':''">
            <template v-for="(subMenuRow, subMenuColumnIndex) in subMenuColumn">
              <div class="submenu-title" :key="`submenu-column-${subMenuColumnIndex}`">
                {{subMenuRow.title}}
              </div>
              <a :href="subMenuItem.link" v-for="(subMenuItem, subMenuItemIndex) in subMenuRow.urls" :key="`submenu-row-${subMenuColumnIndex}-${subMenuItemIndex}`" style="text-decoration:none;">
                <div class="submenu-item">
                  {{subMenuItem.name}}
                </div>
              </a>
              <br :key="`submenu-row-${subMenuColumnIndex}-br`">
            </template>
          </div>
        </div>
      </div>
      <div class="app-header-item app-header-item-research">
        <div @click="$store.dispatch('openResearchPopup')" class="app-menu app-menu-research d-flex flex-content-center">
          Researchs <img :src="require('@/assets/magnifier.png')" class="research-icon" alt="">
        </div>
      </div>
      <div class="app-header-user">
        <div class="app-header-user-name">
          Welcome, <br> Somchai
        </div>
        <div class="app-header-logout">logout</div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'app-header',
  data() {
    return {
      applogo: require('@/assets/logo.png'),
      menuList: [
        {
          name: 'Our Brands',
          link: false,
          subMenuList: [
            [
              {
                title: "TrueCrop",
                urls: [
                  {
                    name: "Truemove H",
                    link: ""
                  },
                  {
                    name: "TrueOnline",
                    link: ""
                  },
                  {
                    name: "TrueVisions",
                    link: ""
                  },
                  {
                    name: "TrueBussiness",
                    link: ""
                  }
                ]
              }
            ],
            [
              {
                title: "True Digital",
                urls: [
                  {
                    name: "TrueID",
                    link: ""
                  },
                  {
                    name: "TrueYou",
                    link: ""
                  },
                  {
                    name: "True Point & Pay",
                    link: ""
                  },
                  {
                    name: "TrueRyde",
                    link: ""
                  },
                  {
                    name: "True IoT",
                    link: ""
                  }
                ]
              }
            ],
            [
              {
                title: "True Innovations",
                urls: [
                  {
                    name: "True Robotics",
                    link: ""
                  },
                  {
                    name: "True Lab",
                    link: ""
                  }
                ]
              },
              {
                title: "True Space",
                urls: [
                  {
                    name: "True Digital Park",
                    link: ""
                  }
                ]
              }
            ]
          ],
          isSubMenuOpen: false
        },
        {
          name: 'Photostock',
          link: 'photostock',
          subMenuList: true
        },
        {
          name: 'Media',
          link: 'media',
          subMenuList: true
        },
        {
          name: 'Inspire Hub',
          link: 'inspirehub'
        }
      ]
    }
  },
  methods: {
    openSubMenu(menu) {
      if(menu.subMenuList) { menu.isSubMenuOpen = !menu.isSubMenuOpen }
    }
  }
}
</script>

<style lang="scss" scoped>
  $app-header-height: 75px;
  .app-header {
    background: #C2262D;
    width: 100%;
    height: $app-header-height;
  }
  .app-header-items {
    height: $app-header-height;
    align-items: center;
  }
  .app-header-item {
    color: #fff;
    width: 100%;
    height: $app-header-height;
    margin: auto;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
  }
  .app-menu {
    position: relative;
    cursor: pointer;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: $app-header-height; 
  }
  .app-menu.has-sub-menu {
    padding-right: 10px;
  }
  .app-menu.has-sub-menu:after {
    content: '';
    position: absolute;
    top: calc(50% - 2.5px);
    margin-left: 5px;
    width: 0;
    height: 0;
    border-top: solid 5px #F7931F;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
    border-radius: 5px;
  }
  .app-menu-research:after {
    content: '';
    display:none;
  }
  .app-menu.open {
    background: #A30E17;
  }
  .app-logo {
    height: $app-header-height - 25px;
    margin: 13px 0;
    margin-left: 60px;
    margin-right: 85px;
  }
  .app-sub-menu {
    background: #fff;
    position: absolute;
    padding: 40px 35px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-box-shadow: 2px 7px 12px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 7px 12px -1px rgba(0,0,0,0.75);
    box-shadow: 2px 7px 12px -1px rgba(0,0,0,0.75);
    z-index: 1;
  }
  .submenu-title {
    color: #4D4D4D;
    margin: 10px 0px 10px 0px;
  }
  .submenu-item {
    font-weight: 300;
    color: #5d5c5c;
    cursor: pointer;
    margin-top: -1px;
  }
  .submenu-list {
    border-right: 1px solid #ff9e9e;
    padding-right: 20px;
    margin-right: 20px;
  }
  .research-icon {
    width: 30px;
    height: 30px;
    align-self: center;
    margin-left: 10px;
  }
  .app-menu-research{
    padding-left: 10px;
    padding-right: 25px;
  }
  .app-header-item-research {
    padding-right: 35px;
  }
  .app-header-user {
    line-height: 1;
    width: 100%;
    background: #A30E17;
    color: #fff;
    padding-left: 20px;
    height: 100%;
  }
  .app-header-user-name {
    margin-top: 16px;
    font-size: 0.9rem;
  }
  .app-header-logout {
    font-weight: 300;
    font-size: 0.65rem;
    margin-top: 3px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
</style>