<template>
  <div>
    <app-header/>
    <slot></slot>
  </div>
</template>

<script>
import Header from '@/components/layout/Header.vue'

export default {
  name: 'layout',
  components: {
    'app-header': Header
  }
}
</script>