<template>
  <div class="home">
    <home-carousel/>
    <home-card-contents
      :title="campaignShowCases.title"
      :cardContentList="campaignShowCases.cardContentList"
    />
    <br>
    <div class="container">
      <div id="see-all-showcase" class="clickable">
        See All Showcase &gt; &gt;
      </div>
    </div>
    <div id="library">
      <div class="container">
        <div class="library-title">
          Library
        </div>
        <home-card-contents
          :title="caseStudy.title"
          :cardContentList="caseStudy.cardContentList"
        />
        <div class="library-see-all clickable">See All &gt; &gt;</div>
        <div style="padding-bottom: 30px;"></div>
        <home-card-contents
          :title="researches.title"
          :cardContentList="researches.cardContentList"
        />
        <div class="library-see-all clickable">See All &gt; &gt;</div>
        <div style="padding-bottom: 100px;"></div>
      </div>
    </div>
  </div>
</template>

<script>
import HomeCarousel from '@/components/home/HomeCarousel.vue'
import HomeCardContents from '@/components/home/HomeCardContents.vue'

export default {
  name: 'home',
  components: {
    'home-carousel': HomeCarousel,
    'home-card-contents': HomeCardContents
  },
  data() {
    return {
      campaignShowCases: {
        title: 'Campaign Showcase',
        cardContentList: [
          {
            img: require('@/assets/cam3.jpg'),
            hashtag: "TrueCrop",
            hashtagColor: "#48B2D7",
            description: 'True 5G World กลุ่มทรู พร้อมเดินหน้าพัฒนาเครือข่าย 5G ที่ดีที่สุด ที่กำลังจะเกิดขึ้นเพื่อคนไทย โชว์ศักยภาพเครือข่าย 5G ที่เปิดให้ทดลองใช้งานได้จริง..',
            date: '25 มิ.ย. 62'
          },
          {
            img: require('@/assets/cam1.jpg'),
            hashtag: "TrueMoveH",
            hashtagColor: "#f35793",
            description: 'ทรู ประกาศใช้ถุงกระดาษรีไซเคิล ทดแทนถุงพลาสติก พร้อมแจกเมล็ดพันธุ์รักษ์โลก นำร่อง 10 แฟลกชิปสโตร์ ก่อนขยายไปทุกสาขาทั่วประเทศ',
            date: '25 มิ.ย. 62'
          },
          {
            img: require('@/assets/cam2.jpg'),
            hashtag: "TrueCrop",
            hashtagColor: "#48B2D7",
            description: 'To Give is TRUE Gifts “เพราะการให้คือจุดเริ่มต้นของสิ่งดีๆ” พร้อมร่วมสนุกกับกิจกรรมตกแต่งของขวัญในแบบของตัวเองด้วยการใช้กระดาษห่อของขวัญ..',
            date: '25 มิ.ย. 62'
          }
        ]
      },
      caseStudy: {
        title: 'Case Study',
        cardContentList: [
          {
            img: require('@/assets/utils_card_mock.png'),
            description: 'ทรูมูฟ เอช โชว์ 5G Video Call \n บนสมาร์ทโฟน 5G ครั้งแรกในไทย',
            date: '25 มิ.ย. 62'
          },
          {
            img: require('@/assets/utils_card_mock.png'),
            description: 'ทรูมูฟ เอช โชว์ 5G Video Call \n บนสมาร์ทโฟน 5G ครั้งแรกในไทย',
            date: '25 มิ.ย. 62'
          },
          {
            img: require('@/assets/utils_card_mock.png'),
            description: 'ทรูมูฟ เอช โชว์ 5G Video Call \n บนสมาร์ทโฟน 5G ครั้งแรกในไทย',
            date: '25 มิ.ย. 62'
          }
        ]
      },
      researches: {
        title: 'Researches',
        cardContentList: [
          {
            img: require('@/assets/utils_card_mock.png'),
            description: 'ทรูมูฟ เอช โชว์ 5G Video Call \n บนสมาร์ทโฟน 5G ครั้งแรกในไทย',
            date: '25 มิ.ย. 62'
          },
          {
            img: require('@/assets/utils_card_mock.png'),
            description: 'ทรูมูฟ เอช โชว์ 5G Video Call \n บนสมาร์ทโฟน 5G ครั้งแรกในไทย',
            date: '25 มิ.ย. 62'
          },
          {
            img: require('@/assets/utils_card_mock.png'),
            description: 'ทรูมูฟ เอช โชว์ 5G Video Call \n บนสมาร์ทโฟน 5G ครั้งแรกในไทย',
            date: '25 มิ.ย. 62'
          }
        ]
      }
    };
  },
  metaInfo: {
    title: 'True CACA - Home'
  }
}
</script>

<style lang="scss" scoped>
#see-all-showcase, .library-see-all {
  font-weight: 300;
  text-align: right;
  color: #9e9e9e;
  padding-bottom: 50px;
}
.library-see-all {
  width: 85px;
  margin-left: auto;
  margin-right: -115px;
  margin-top: -25px;
  padding: 0;
}
#library {
  background: #fff;
  padding-top: 100px;
}
.library-title {
  color: #A30E17;
  font-weight: 300;
  font-size: 3.5rem;
}
</style>