<template>
  <div class="media">
    <div style="padding-top:50px"></div>
    <div class="d-flex flex-content-center">
      <div class="content-list-big-title">
        Inspire Hub 
      </div>
    </div>
    <br>
    <br>
    <inspire-hub-card-filter
      :filterList="mediaTypeList"
      :mediaContentList="mediaContentList"
    />
  </div>
</template>

<script>
import InspireHubCardFilter from '@/components/inspirehub/InspireHubCardFilter.vue'

export default {
  name: 'inspirehub',
  components: {
    'inspire-hub-card-filter': InspireHubCardFilter
  },
  data() {
    return {
      isMediaTypeDropdownOpen: false,
      mediaTypeList: [
        'Advertising',
        'Substainability',
        'Retail',
        'Digital',
        'Network',
        'Creative'
      ],
      mediaContentList: [
        {
          mediaType: 'Substainability',
          cardType: 'landscape',
          cardContent: {
            hashtag: "Substainability",
            hashtagColor: "#f3c457",
            title: 'True 5G (Substainability)',
            img: require('@/assets/utils_card_landscape_mock.png'),
            description: 'ทรูมูฟ เอช โชว์ 5G Video Call \n บนสมาร์ทโฟน 5G ครั้งแรกในไทย',
            date: '25 มิ.ย. 62'
          }
        },
        {
          mediaType: 'Advertising',
          cardContent: {
            hashtag: "Advertising",
            hashtagColor: "#f3c457",
            title: 'True 5G (Advertising)',
            img: require('@/assets/utils_card_mock.png'),
            description: 'ทรูมูฟ เอช โชว์ 5G Video Call \n บนสมาร์ทโฟน 5G ครั้งแรกในไทย',
            date: '25 มิ.ย. 62'
          }
        },
        {
          mediaType: 'Substainability',
          cardContent: {
            hashtag: "Substainability",
            hashtagColor: "#f3c457",
            title: 'True 5G (Substainability)',
            img: require('@/assets/utils_card_mock.png'),
            description: 'ทรูมูฟ เอช โชว์ 5G Video Call \n บนสมาร์ทโฟน 5G ครั้งแรกในไทย',
            date: '25 มิ.ย. 62'
          }
        },
        {
          mediaType: 'Retail',
          cardContent: {
            hashtag: "Retail",
            hashtagColor: "#f3c457",
            title: 'True 5G (Retail)',
            img: require('@/assets/utils_card_mock.png'),
            description: 'ทรูมูฟ เอช โชว์ 5G Video Call \n บนสมาร์ทโฟน 5G ครั้งแรกในไทย',
            date: '25 มิ.ย. 62'
          }
        },
        {
          mediaType: 'Digital',
          cardContent: {
            title: 'True 5G (Digital)',
            img: require('@/assets/utils_card_mock.png'),
            description: 'ทรูมูฟ เอช โชว์ 5G Video Call \n บนสมาร์ทโฟน 5G ครั้งแรกในไทย',
            date: '25 มิ.ย. 62'
          }
        },
        {
          mediaType: 'Network',
          cardContent: {
            title: 'True 5G (Network)',
            img: require('@/assets/utils_card_mock.png'),
            description: 'ทรูมูฟ เอช โชว์ 5G Video Call \n บนสมาร์ทโฟน 5G ครั้งแรกในไทย',
            date: '25 มิ.ย. 62'
          }
        },
        {
          mediaType: 'Advertising',
          cardContent: {
            title: 'True 5G (Advertising)',
            img: require('@/assets/utils_card_mock.png'),
            description: 'ทรูมูฟ เอช โชว์ 5G Video Call \n บนสมาร์ทโฟน 5G ครั้งแรกในไทย',
            date: '25 มิ.ย. 62'
          }
        },
        {
          mediaType: 'Substainability',
          cardContent: {
            title: 'True 5G (Substainability)',
            img: require('@/assets/utils_card_mock.png'),
            description: 'ทรูมูฟ เอช โชว์ 5G Video Call \n บนสมาร์ทโฟน 5G ครั้งแรกในไทย',
            date: '25 มิ.ย. 62'
          }
        },
        {
          mediaType: 'Retail',
          cardContent: {
            title: 'True 5G (Retail)',
            img: require('@/assets/utils_card_mock.png'),
            description: 'ทรูมูฟ เอช โชว์ 5G Video Call \n บนสมาร์ทโฟน 5G ครั้งแรกในไทย',
            date: '25 มิ.ย. 62'
          }
        },
        {
          mediaType: 'Digital',
          cardContent: {
            title: 'True 5G (Digital)',
            img: require('@/assets/utils_card_mock.png'),
            description: 'ทรูมูฟ เอช โชว์ 5G Video Call \n บนสมาร์ทโฟน 5G ครั้งแรกในไทย',
            date: '25 มิ.ย. 62'
          }
        },
        {
          mediaType: 'Network',
          cardContent: {
            title: 'True 5G (Network)',
            img: require('@/assets/utils_card_mock.png'),
            description: 'ทรูมูฟ เอช โชว์ 5G Video Call \n บนสมาร์ทโฟน 5G ครั้งแรกในไทย',
            date: '25 มิ.ย. 62'
          }
        },
        {
          mediaType: 'Creative',
          cardContent: {
            title: 'True 5G (Advertising)',
            img: require('@/assets/utils_card_mock.png'),
            description: 'ทรูมูฟ เอช โชว์ 5G Video Call \n บนสมาร์ทโฟน 5G ครั้งแรกในไทย',
            date: '25 มิ.ย. 62'
          }
        }
      ]
    };
  },
  metaInfo: {
    title: 'True CACA - Inspire Hub'
  }
}
</script>

<style lang="scss" scoped>
</style>