<template>
  <div class="media">
    <div style="padding-top:80px"></div>
    <div class="d-flex flex-content-center">
      <div class="content-list-big-title">
        Media 
      </div>
      <div class="content-list-big-title" style="margin-left:10px;color: #727374; font-weight: 300">
        &nbsp;| Touchpoint Guideline
      </div>
    </div>
    <br>
    <div class="d-flex flex-content-center">
      <div class="media-type-title">
        ประเภท 
      </div>
      <div @click="isMediaTypeDropdownOpen = !isMediaTypeDropdownOpen" class="media-type-dropdown-wrapper clickable">
        <div class="media-type-dropdown" :class="{ open: isMediaTypeDropdownOpen }">
          Shop Media
        </div>
        <div class="media-type-dropdown-item-list">
          <div class="media-type-dropdown-item">
            Digital
          </div>
          <div class="media-type-dropdown-item">
            OOH
          </div>
          <div class="media-type-dropdown-item">
            Shop Media
          </div>
          <div class="media-type-dropdown-item">
            Internal
          </div>
          <div class="media-type-dropdown-item">
            Others
          </div>
        </div>
      </div>
    </div>
    <br>
    <content-card-filter
      :filterList="mediaTypeList"
      :mediaContentList="mediaContentList"
    />
  </div>
</template>

<script>
import ContentCardFilter from '@/components/media/ContentCardFilter.vue'

export default {
  name: 'media',
  components: {
    'content-card-filter': ContentCardFilter
  },
  data() {
    return {
      isMediaTypeDropdownOpen: false,
      mediaTypeList: [
        'True Shop',
        'True Sphere',
        'True Agent+',
        'True Partner',
        '7-Eleven',
      ],
      mediaContentList: [
        {
          mediaType: 'True Shop',
          cardContent: {
            title: 'True 5G (True Shop)',
            img: require('@/assets/utils_card_mock.png'),
            description: 'ทรูมูฟ เอช โชว์ 5G Video Call \n บนสมาร์ทโฟน 5G ครั้งแรกในไทย',
            date: '25 มิ.ย. 62'
          }
        },
        {
          mediaType: 'True Sphere',
          cardContent: {
            title: 'True 5G (True Sphere)',
            img: require('@/assets/utils_card_mock.png'),
            description: 'ทรูมูฟ เอช โชว์ 5G Video Call \n บนสมาร์ทโฟน 5G ครั้งแรกในไทย',
            date: '25 มิ.ย. 62'
          }
        },
        {
          mediaType: 'True Agent+',
          cardContent: {
            title: 'True 5G (True Agent+)',
            img: require('@/assets/utils_card_mock.png'),
            description: 'ทรูมูฟ เอช โชว์ 5G Video Call \n บนสมาร์ทโฟน 5G ครั้งแรกในไทย',
            date: '25 มิ.ย. 62'
          }
        },
        {
          mediaType: 'True Partner',
          cardContent: {
            title: 'True 5G (True Partner)',
            img: require('@/assets/utils_card_mock.png'),
            description: 'ทรูมูฟ เอช โชว์ 5G Video Call \n บนสมาร์ทโฟน 5G ครั้งแรกในไทย',
            date: '25 มิ.ย. 62'
          }
        },
        {
          mediaType: '7-Eleven',
          cardContent: {
            title: 'True 5G (7-Eleven)',
            img: require('@/assets/utils_card_mock.png'),
            description: 'ทรูมูฟ เอช โชว์ 5G Video Call \n บนสมาร์ทโฟน 5G ครั้งแรกในไทย',
            date: '25 มิ.ย. 62'
          }
        },
        {
          mediaType: 'True Shop',
          cardContent: {
            title: 'True 5G (True Shop)',
            img: require('@/assets/utils_card_mock.png'),
            description: 'ทรูมูฟ เอช โชว์ 5G Video Call \n บนสมาร์ทโฟน 5G ครั้งแรกในไทย',
            date: '25 มิ.ย. 62'
          }
        },
        {
          mediaType: 'True Sphere',
          cardContent: {
            title: 'True 5G (True Sphere)',
            img: require('@/assets/utils_card_mock.png'),
            description: 'ทรูมูฟ เอช โชว์ 5G Video Call \n บนสมาร์ทโฟน 5G ครั้งแรกในไทย',
            date: '25 มิ.ย. 62'
          }
        },
        {
          mediaType: 'True Agent+',
          cardContent: {
            title: 'True 5G (True Agent+)',
            img: require('@/assets/utils_card_mock.png'),
            description: 'ทรูมูฟ เอช โชว์ 5G Video Call \n บนสมาร์ทโฟน 5G ครั้งแรกในไทย',
            date: '25 มิ.ย. 62'
          }
        },
        {
          mediaType: 'True Partner',
          cardContent: {
            title: 'True 5G (True Partner)',
            img: require('@/assets/utils_card_mock.png'),
            description: 'ทรูมูฟ เอช โชว์ 5G Video Call \n บนสมาร์ทโฟน 5G ครั้งแรกในไทย',
            date: '25 มิ.ย. 62'
          }
        },
        {
          mediaType: '7-Eleven',
          cardContent: {
            title: 'True 5G (7-Eleven)',
            img: require('@/assets/utils_card_mock.png'),
            description: 'ทรูมูฟ เอช โชว์ 5G Video Call \n บนสมาร์ทโฟน 5G ครั้งแรกในไทย',
            date: '25 มิ.ย. 62'
          }
        },
        {
          mediaType: 'True Shop',
          cardContent: {
            title: 'True 5G (True Shop)',
            img: require('@/assets/utils_card_mock.png'),
            description: 'ทรูมูฟ เอช โชว์ 5G Video Call \n บนสมาร์ทโฟน 5G ครั้งแรกในไทย',
            date: '25 มิ.ย. 62'
          }
        }
      ]
    };
  },
  metaInfo: {
    title: 'True CACA - Media'
  }
}
</script>

<style lang="scss" scoped>
.media-type-title {
  font-weight: 300;
  font-size: 2rem;
  color: #727374;
  align-self: center;
}
.media-type-dropdown-wrapper {
  align-self: center;
  margin-left:10px;
}
.media-type-dropdown {
  position: relative;
  font-size: 2.2rem;
  font-weight: 300;
  color: #727374;
  background: #fff;
  border-radius: 20px;
  padding: 10px 30px;
  border: 1px solid #b5b4b4;
  padding-right: 35px;
  width: 215px;
}
.media-type-dropdown:after {
  content: "";
  position: absolute;
  top: calc(50% - 2.5px);
  margin-left: 5px;
  width: 0;
  height: 0;
  border-top: solid 10px #c2272d;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
  border-radius: 5px;
}
.media-type-dropdown.open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.media-type-dropdown-item-list {
  position: absolute;
  display: none;
}
.media-type-dropdown.open ~ .media-type-dropdown-item-list {
  display: block;
  font-size: 1.5rem;
  font-weight: 300;
  color: #727374;
  background: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid #b5b4b4;
  border-top: none;
  margin-top: -2px;
  width: 280px;
  overflow: hidden;
}
.media-type-dropdown.open ~ .media-type-dropdown-item-list:after {
  content: "";
  border-top: 1px solid #c2272d;
  top: 0;
  position: absolute;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}
.media-type-dropdown-item {
  padding: 10px 40px;
}
.media-type-dropdown-item:hover {
  background: #c2272d;
  color: #fff;
}
</style>