<template>
  <div id="photostock" class="d-flex">
    <div class="photostock-left-panel">
      <div class="photostock-left-panel-group">
        <div class="photostock-left-panel-title">Brand Photograpy</div>
        <div class="photostock-left-panel-sub clickable">2019</div>
        <div class="photostock-left-panel-sub clickable">2018</div>
        <div class="photostock-left-panel-sub clickable">2017</div>
        <div class="photostock-left-panel-sub clickable">.......</div>
      </div>
      <hr>
      <div class="photostock-left-panel-group">
        <div class="photostock-left-panel-title">Stock Photograpy</div>
        <div class="photostock-left-panel-sub clickable">Logo</div>
        <div class="photostock-left-panel-sub clickable">Color</div>
        <div class="photostock-left-panel-sub clickable">Graphics</div>
        <div class="photostock-left-panel-sub clickable">Typography</div>
        <div class="photostock-left-panel-sub clickable">Photograpy</div>
        <div class="photostock-left-panel-sub clickable">Design Gallery</div>
      </div>
    </div>
    <div class="photostock-content">
      <div style="padding:100px">
        <div class="photostock-title">Photostock</div>
        <div class="photostock-sub-title">Brand Photograpy</div>
        <hr>
        <div class="container" style="padding: 10px 50px;">
          <div class="photostock-year">2019</div>
          <photostock-thumbnail-group
            title="together 2019-1"
            :imgs="[thmb1,thmb2,thmb3,thmb4,thmb5]"
          />
          <photostock-thumbnail-group
            title="together 2019-2"
            :imgs="[thmb1,thmb2,thmb3,thmb4,thmb5]"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PhotostockThumbnailGroup from '@/components/photostock/PhotostockThumbnailGroup.vue'

export default {
  name: 'photostock',
  data() {
    return {
      thmb1: require('@/assets/Family.png'),
      thmb2: require('@/assets/hzQA3m.png'),
      thmb3: require('@/assets/FkPWIU.png'),
      thmb4: require('@/assets/qK94aw.png'),
      thmb5: require('@/assets/TIYqtz.png'),
    }
  },
  components: {
    'photostock-thumbnail-group': PhotostockThumbnailGroup
  }
}
</script>

<style lang="scss" scoped>
$left-panel-width: 250px;
#photostock {
  height: 100%;
  min-height: calc(100vh - 50px);
}
.photostock-left-panel {
  width: $left-panel-width;
  background: #EFEFEF;
}
.photostock-content {
  background: #fff;
  width: calc(100vw - 250px);
}
.photostock-left-panel-group {
    padding: 45px;
}

.photostock-left-panel-sub {
    font-weight: 300;
    color: #888;
}
.photostock-title {
    font-size: 3rem;
    font-weight: 500;
}

.photostock-sub-title {color: #888;font-size: 1.5rem;font-weight: 300;}

.photostock-year {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 20px;
}
</style>