<template>
  <div id="campaign-show-case" class="d-flex flex-content-center">
    <div class="container">
      <div class="home-subject-title">Campaign Showcase</div>
      <div class="d-flex flex-content-between content-card-list">
        <div>
          <content-card></content-card>
        </div>
        <div>
          <content-card></content-card>
        </div>
        <div>
          <content-card></content-card>
        </div>
      </div>
      <br>
      <div id="see-all-showcase">
        See All Showcase &gt; &gt;
      </div>
    </div>
  </div>
</template>
<script>
import ContentCard from '@/components/ContentCard.vue'

export default {
  components: {
    'content-card': ContentCard
  }
}
</script>

<style lang="scss" scoped>
#campaign-show-case {
  padding-bottom: 50px;
}
.content-card-list {
  margin: 0 -15px;
}
#see-all-showcase {
  font-weight: 300;
  text-align: right;
  color: #9e9e9e;
}
</style>