<template>
  <carousel :per-page="1" paginationColor="#ccc" paginationActiveColor="#C2262D">
    <slide v-for="i in 5" :key="i">
      <div class="d-flex">
        <div class="home-carousel-left-panel d-flex-column flex-content-evenly">
          <div class="home-carousel-left-panel-text-1">
            N E W
          </div>
          <div class="home-carousel-left-panel-text-2">
            Together <br>
            2019 <br>
            Photostock
          </div>
          <div class="home-carousel-left-panel-button clickable">
            เพิ่มเติม
          </div>
        </div>
        <div class="home-carousel-right-panel">
          <img class="home-carousel-img fluid-width-img" :src="require('@/assets/qZZ4or.png')">
        </div>
      </div>
    </slide>
  </carousel>
</template>

<style lang="scss" scoped>
  .home-carousel-left-panel {
    width: 275px;
    background: #C2262D;
    color: #fff;
    text-align: left;
    padding-left: 50px;
  }
  .home-carousel-right-panel {
    width: calc(100% - 275px);
  }
  .home-carousel-img {
    max-height: 500px;
    object-fit: cover;
    margin-bottom: -6px;
    object-position: bottom;
  }
  .home-carousel-left-panel-text-1 {
    font-size: 2.2rem;
    font-weight: 300;
  }
  .home-carousel-left-panel-text-2 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 0.9;
    margin-top: -50px;
  }
  .home-carousel-left-panel-button {
    background: #a30e17;
    width: 100px;
    border-radius: 5px;
    padding: 15px 0;
    margin-bottom: -45px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
  }
</style>
