<template>
  <div id="home-card-contents" class="d-flex flex-content-center">
    <div class="container">
      <div class="home-subject-title">{{title}}</div>
      <div class="d-flex flex-content-between content-card-list">
        <div v-for="(cardContent, index) in cardContentList" :key="index">
          <content-card
            :img="cardContent.img"
            :hashtag="cardContent.hashtag"
            :hashtagColor="cardContent.hashtagColor"
            :description="cardContent.description"
            :date="cardContent.date"
          />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import ContentCard from '@/components/ContentCard.vue'

export default {
  props: ['title','cardContentList'],
  components: {
    'content-card': ContentCard
  }
}
</script>

<style lang="scss" scoped>
.content-card-list {
  margin: 0 -15px;
}
</style>