<template>
  <div class="content-card-wrapper">
    <div class="content-card">
      <div>
        <img class="content-card-img" :src="img">
      </div>
      <div class="content-card-detail">
        <div v-if="hashtag" :style="`color: ${hashtagColor};`" class="content-card-hashtag">
          #{{hashtag}}
        </div>
        <div v-if="title" class="content-card-title">
          {{title}}
        </div>
        <div class="content-card-description">
          {{description}}
        </div>
        <div  class="content-card-date">
          {{date}}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['img','hashtag','title','hashtagColor', 'description', 'date']
}
</script>

<style lang="scss" scoped>
.content-card-wrapper {
  padding: 0 15px;
  overflow: hidden;
  width: calc(100% - 30px);
  max-width: 30vw;
}
.content-card {
  border-radius: 10px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.content-card-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  margin-bottom: -6px;
  max-width: 30vw;
max-height: 180px;

}
.content-card-detail {
  background: #fff;
  padding: 20px 15px;
  padding-bottom: 10px;
  width: calc(100% - 30px);
}
.content-card-hashtag {
  font-size: 0.7rem;
  color: #f35793;
}
.content-card-title {
  font-size: 1.3rem;
  font-weight: 500;
}
.content-card-description {
  font-size: 0.95rem;
  font-weight: 300;
  line-height: 1.2;
  padding: 10px 0;
}
.content-card-date {
  font-size: 0.8rem;
  font-weight: 400;
  color: #9e9e9e;
}
</style>