<template>
  <div class="landscape-card-wrapper">
    <div class="landscape-card d-flex">
      <img class="landscape-card-img" :src="img">
      <div class="landscape-card-detail d-flex-column flex-content-between">
        <div v-if="hashtag" :style="`color: ${hashtagColor};`" class="landscape-card-hashtag">
          #{{hashtag}}
        </div>
        <div v-if="title" class="landscape-card-title">
          {{title}}
        </div>
        <div class="landscape-card-description">
          {{description}}
        </div>
        <div  class="landscape-card-date">
          {{date}}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['img','hashtag','title','hashtagColor', 'description', 'date']
}
</script>

<style lang="scss" scoped>
.landscape-card-wrapper {
  padding: 0 15px;
  overflow: hidden;
  width: calc(100% - 30px);
}
.landscape-card {
  border-radius: 10px;
  border: 1px solid #ccc;
  overflow: hidden;
  width: 100%;
}
.landscape-card-img {
    width: 35%;
    height: 70%;
    -o-object-fit: cover;
    object-fit: contain;
    padding: 40px;
    background: #fff;
}
.landscape-card-detail {
  background: #fff;
  padding: 20px 15px;
  padding-left: 40px;
  padding-bottom: 10px;
}
.landscape-card-hashtag {
  font-size: 0.7rem;
  color: #f35793;
}
.landscape-card-title {
  font-size: 1.3rem;
  font-weight: 500;
}
.landscape-card-description {
  font-size: 0.95rem;
  font-weight: 300;
  line-height: 1.2;
  padding: 10px 0;
}
.landscape-card-date {
  font-size: 0.8rem;
  font-weight: 400;
  color: #9e9e9e;
}
</style>