<template>
  <div v-if="isOpenResearchPopup">
    <div class="research-popup-container d-flex flex-content-center">
      <input type="text" class="research-popup-input" placeholder="กรุณากรอกคำค้นหา">
      <img class="research-popup-icon clickable" :src="require('@/assets/search.png')" alt="">
    </div>
    <div @click="$store.dispatch('closeResearchPopup')" class="research-popup-container-bg"></div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters(['isOpenResearchPopup'])
  }
}
</script>

<style lang="scss" scoped>
.research-popup-container-bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #0000004a;
  z-index: 9;
}
.research-popup-container {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 10;
  // height: 100vh;
}
.research-popup-container input {
  border: 0;
  border-bottom: 2px solid #fff;
  width: 100%;
  font-size: 2.3rem;
  font-weight: 300;
  line-height: 35px;
  height: 40px;
  padding: 15px 0;
  background: transparent;
  color: #fff;
}

.research-popup-container input:focus {
 outline: 0;
	color: #fff;
}

.research-popup-container input::placeholder {
 color: #fff;
}

.research-popup-icon {
  filter: brightness(0) invert(1);
  width: 3.5rem;
  height: auto;
  object-fit: contain;
}
</style>