<template>
  <div id="app">
    <research-popup/>
    <layout :class="{ 'open-research-popup': isOpenResearchPopup }">
      <router-view/>
    </layout>
  </div>
</template>

<script>
import Layout from '@/components/layout/index.vue'
import ResearchPopUp from '@/components/ResearchPopUp.vue'
import { mapGetters } from 'vuex'

export default {
  name: 'app',
  computed: {
    ...mapGetters(['isOpenResearchPopup'])
  },
  components: {
    layout: Layout,
    'research-popup': ResearchPopUp
  }
}
</script>

<style>
  body {
    margin: 0;
    background: #EFEFEF;
  }
  .open-research-popup {
    filter: blur(6px);
    overflow: hidden;
    height: 100vh;
  }
</style>